<footer class="py-3 mb-4 navbar navbar-fixed-bottom">
    <div class="d-flex align-items-center">
        <p class="mb-0 mr-3">Made with <i class="fa-solid fa-heart" style="color: #333333;"></i> by <u>denisnzrvs</u>&nbsp;&nbsp;</p>
        <a href="https://github.com/denisnzrvs" target="_blank">
            <i class="fa-brands fa-github" style="color: #333333;"></i>
        </a>
    </div>
</footer>
