<!DOCTYPE html lang="en">
<html>

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <div class="container-fluid text-center mh-100">
        <div class="row mt-5">
            <div class="col-md-12 col-sm-12">
                <h1>Your collage is ready!</h1>
                <p>Click the button below to download it.</p>
                <div class="row">
                    <img alt="placeholder" />
                </div>
                <button class="btn btn-success">Download</button>
                <button class="btn btn-success">make a different one</button>
                <button class="btn btn-success">log out</button>
            </div>
        </div>
    </div>
    <div>
    <%- include('./partials/footer.ejs'); %>
</div>
</body>

</html>