<!DOCTYPE html>
<html>

<head>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body>
    <div class="container-fluid text-center">
        <div class="row align-items-center mt-5" id="homepage">
            <div class="col-md-12 col-sm-12">
                <h1>Reflect your music taste with</h1>
                <h1 id="name">Collageify</h1>
                <p><br>Create a collage of your most beloved songs! Use it as your wallpaper or print for everyone to
                    see.<br>Press
                    the button to start:<br></p>

                <a href="/login" class="btn btn-success">
                    <i class="fa-brands fa-spotify" style="color: #ffffff;"></i>
                    Log in to Spotify</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12" id="logged-in" style="display: none;">
                <h1>Your most listened songs</h1>
                <p id="user-data-summary"></p>
            </div>
        </div>
        <div class="row align-items-center mt-5" id="buttons">
        </div>
    </div>
    <div class="row align-items-center mt-5" id="collage" style="display: none;">
    </div>
    <div class="row align-items-center mt-5" id="collage-buttons" style="display: none;">
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/gatherData.js"></script>

        <%- include('../views/partials/footer.ejs'); %>
</body>

</html>